.venv
**/migrations/*
!**/migrations/__init__.py
.idea/
db.sqlite3
*.sqlite3

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

*.egg
*.egg-info/
dist/
build/

venv/
.venv/
env/
ENV/

*.env
*.env.*
.envrc



media/
static/
staticfiles/

schema.yml
schema.json

celerybeat-schedule
celerybeat-schedule.bak
celerybeat.pid
celerybeat-schedule-shm
celerybeat-schedule-wal

*.log


*.iml
.vscode/

.DS_Store
Thumbs.db
*cpython-312.pyc
*cpython-313.pyc
.coverage
htmlcov/
pytest_cache/

.gitignore